extends layouts/layout
block header
    div.hero-header

block content
    div.container.content(ng-app='agranda-y-punto')
        div.user-content.container(ng-controller='')
            form.user-content-form
                fieldset.user-content-first
                    div.form-group
                        label.col-md-3(for='name')='NOMBRE * COMPLETO'
                        div.col-md-9
                            input.form-control#name(name='name', type='text')
                    div.form-group
                        div.col-xs-12.col-md-5
                            select#doc-type.form-control
                                option='TIPO DE DOCUMENTO'
                                option(value='cc')='CÉDULA DE CIUDADANÍA'
                        label.col-xs-12.col-md-4(for='doc-number')='No. DOCUMENTO'
                        div.col-xs-12.col-md-3
                            input#doc-number.form-control(name='doc-number', type='number')
                    div.form-group
                        label.col-md-4='¿CUANDO NACISTE?'

                fieldset.user-content-second
                    div.form-group
                        label.col-md-3(for='invoice-number')='NÚMERO DE FACTURA'
                        div.col-md-3
                            input.form-control#invoice-number(name='invoice-number')


block scripts
    script(type='text/javascript',  src='/scripts/app.js')